.link {
  margin: 32px 16px 0px;
  display: block;
  text-decoration: none;
}

@media (min-width: 600px) {
  .link {   margin: 48px 64px 0;
  }
}

@media (min-width: 1536px) {
  .link {    
    margin: 48px auto 0;
    max-width: 1536px;
  }
}
