@import '../css/animations.css';

.swap-page {
  padding-top: 128px !important;
  padding-bottom: 96px !important;
  min-height: 100vh !important;
  background: white !important;
  background: linear-gradient(180deg, #f6f3f2 0%, rgba(246, 243, 242, 0) 100%) !important;
  /* background-image: url('../assets/bg/bg-net.svg');
  background-image: url('../assets/bg/bg-net.svg'),
    linear-gradient(180deg, #fefaff 9.96%, #fbebff 100%) !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: bottom !important; */
}
