node_modules
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
README.md
LICENSE
.github
.vscode
.husky
docs

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions