{
  "extends": [
    "react-app",
    "plugin:prettier/recommended",
    "plugin:@next/next/recommended"
  ],
  "rules": {
    "@typescript-eslint/consistent-type-imports": "warn",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-shadow": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "class-methods-use-this": "off",
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "curly": 1,
    "import/extensions": "off",
    // "import/no-default-export": "error",
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": 0,
    "import/prefer-default-export": "off",
    "indent": "off",
    "jsx-quotes": [
      "error",
      "prefer-double"
    ],
    "linebreak-style": "off",
    "max-len": "off",
    "newline-per-chained-call": "off",
    "no-bitwise": "off",
    "no-console": "off",
    "no-continue": "off",
    "no-implicit-any-catch": "off",
    "no-nested-ternary": "off",
    "no-param-reassign": "off",
    "no-plusplus": "off",
    "no-restricted-syntax": "off",
    "no-shadow": "off",
    "no-unused-expressions": "warn",
    "no-unused-vars": "off",
    "no-var": "warn",
    "object-curly-newline": "off",
    "prettier/prettier": "error",
    "react/function-component-definition": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".ts",
          ".tsx"
        ]
      }
    ],
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-uses-react": "off",
    "react/prop-types": 0,
    "react/react-in-jsx-scope": "off",
    "react/require-default-props": "off",
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ]
  }
}
