# Remove once fixed https://github.com/getsentry/sentry-javascript/issues/15209
public-hoist-pattern[]=*import-in-the-middle*
public-hoist-pattern[]=*require-in-the-middle*
enable-pre-post-scripts=true
provenance=true
strict-peer-dependencies=false
