.xpollinate {
  background: url('../../assets/xpollinate-bg-pattern_dark.svg') center center / cover no-repeat fixed;
  min-height: calc(100vh);
  margin-top: 0;
  color: #FFFFFF !important;
}

.xpollinate-header {
  border-bottom: 1px solid #c6c6c6;
  margin-bottom: 0;
}

.ant-menu-submenu .ant-menu-item-group,
.ant-menu-submenu .ant-menu-item-group-title,
.ant-menu-submenu .ant-menu-title-content > a,
.ant-menu-sub,
.ant-menu-sub .ant-menu-item,
.ant-menu-item-group-list .ant-menu-item,
.ant-menu-submenu-open.ant-menu-submenu-active {
  background: #0D1216 !important;
  color: #FFFFFF;
}

.ant-menu-item.ant-menu-item-disabled {
  color: #949494 !important;
}

.ant-menu-submenu .ant-badge {
  color: inherit !important;
}

.ant-menu-submenu .ant-badge-status-text {
  color: inherit !important;
}

.ant-menu-item-disabled, .ant-menu-submenu-disable {
  color: #949494 !important;
}

.xpollinate .ant-menu-title-content:hover {
  color: inherit;
}

.xpollinate .ant-alert-error, .xpol-swap-modal .ant-alert-error {
  background-color: #af3522;
  color: #FFFFFF;
  border-color: #c38b85;
}

.xpol-swap-modal .ant-alert {
  margin: 12px 0;
}

.xpollinate h1,
.xpollinate h2,
.xpollinate h3,
.xpollinate h4,
.xpollinate h5,
.xpollinate h6,
.xpollinate .version {
  color: #FFFFFF;
}

.xpollinate .ant-btn {
  background-color: #0D1216;
  color: #FFFFFF;
}

.xpollinate .form-input-wrapper:focus-within {
  border: 1px solid #9C62F9 !important;
}

.xpollinate .ant-btn[disabled] {
  background-color: #0D1216 !important;
  color: #C4C4C4 !important;
  border: 2px solid #C4C4C4;
}

.xpol-swap-modal .ant-modal-content {
  background-color: #0D1216;
  color: #FFFFFF;
  border-radius: 6px;
  border: 1px solid #FFFFFF;
}

.xpol-swap-modal .ant-modal-body p span {
  margin: 0 12px;
}

.xpol-swap-modal .ant-modal-content * {
  color: #FFFFFF;
}

.xpol-swap-modal .totalTime {
  border-color: #FFFFFF;
}

.xpollinate .ant-typography, .ant-form {
  color: #FFFFFF !important;
}

.xpollinate .ant-select,
.xpollinate .anticon,
.xpollinate .ant-badge-status-text,
.xpollinate .ant-checkbox-wrapper,
.xpollinate .ant-collapse-content,
.xpollinate .ant-menu-title-content  {
  color: #FFFFFF;
}

.xpollinate .ant-collapse > .ant-collapse-item > .ant-collapse-header {
  color: #FFFFFF;
}

.xpollinate .ant-card {
  color: #FFFFFF;
  background: #0D1216;
  border: 1px solid #FDFDFF;
  box-sizing: border-box;
  box-shadow: 0px 4px 100px 5px rgba(247, 167, 69, 0.25);
  border-radius: 12px;
}

.xpollinate .ant-collapse-content * {
  box-shadow: none;
}

.xpollinate .ant-card-head-title {
  color: #FFFFFF;
  background: #0D1216;
}

.xpollinate .ant-descriptions-item-label, .ant-descriptions-item-content {
  color: #FFFFFF;
  background: transparent;
  border-color: #383838;
}

.xpollinate .ant-descriptions-view {
  border: none;
}

.xpollinate .ant-descriptions-row, .ant-card-head, .ant-card-actions {
  border-color: #1c1c1c;
}

/* .xpollinate .ant-descriptions-view * {
  border: none;
} */

.xpollinate .ant-card-actions {
  color: #FFFFFF;
  background: #0D1216;
  border-radius: 0 0 20px 20px;
}

.xpollinate .swap-input {
  background: #0D1216;
  border: 2px solid #C4C4C4;
  box-sizing: border-box;
  box-shadow: 0px 4px 100px 20px rgba(80, 50, 128, 0.25);
  border-radius: 20px;
  border-radius: 6px;
}

.xpollinate .swap-form {
  box-shadow: 0px 4px 100px 20px rgba(80, 50, 128, 0.25);
}

.xpollinate .form-input-wrapper {
  /* font-family: Montserrat; */
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  /* identical to box height, or 450% */
  line-height: 72px;
  letter-spacing: -0.015em;

  background: #0D1216;
  border: 1px solid #C4C4C4;
  border-radius: 6px;
  padding: 4px 4px;
  display: flex;
  align-items: center;
}
.xpollinate .form-input-wrapper.disabled {
  border: 1px solid #C4C4C4;
}

.xpollinate .form-input-wrapper.disabled input {
  color: #C4C4C4 !important;
}

.xpollinate .form-input-wrapper .ant-avatar {
  margin-left: 4px;
  flex-shrink: 0;
}
.xpollinate .form-input-wrapper .ant-select {
  flex-grow: 1;
  overflow: hidden;
}
.xpollinate .form-input-wrapper input {
  color: #FFFFFF;
}
.xpollinate .insufficient {
  color: #e4305f;
}
.form-text {
  color: #FFFFFF;
  align-items: center;
  display: flex;
  padding-left: 15px;
  height: 100%;
}

.xpollinate-button.ant-btn-primary,
.xpollinate .ant-btn-primary {
  background: linear-gradient(257.5deg, #F7A745 -9.73%, #9C62F9 77.97%);
  transition: background 300ms linear;
  border: none;
  min-width: 150px;
  background-size: 340px 40px;
  background-position: -100px;
}

.xpollinate-button.ant-btn-primary:hover,
.xpollinate .ant-btn-primary:hover {
  background-position: 0px;
}

.xpollinate-button.ant-btn-primary.grayed,
.xpollinate .ant-btn-primary.grayed {
  opacity: 0.8;
}

.xpollinate .ant-btn-primary[disabled],
.ant-btn-primary[disabled]:hover,
.ant-btn-primary[disabled]:focus,
.ant-btn-primary[disabled]:active {
  color: rgba(0, 0, 0, 0.25);
  border-color: #d9d9d9;
  background: #f5f5f5;
  text-shadow: none;
  box-shadow: none;
}

.xpollinate .ant-alert-info {
  background: linear-gradient(
    257.5deg,
    rgba(235, 0, 85, 0.3) -39.73%,
    rgba(255, 250, 128, 0.3) 107.97%
  );
  border: none;
}

.version {
  color: black;
  font-weight: bold;
  position: absolute;
}

.header-button {
  border: 1px solid white;
  background: white;
  border-radius: 6px;
  padding: 5px 10px;
  font-size: 16px;
  margin-left: 10px;
  height: auto;
  display: inline-block;
}

.support-link {
  color: #c53030;
  border: 1px solid #c53030;
  background: transparent;
}

.support-link:hover {
  background: #c53030;
  color: white;
}

@media only screen and (max-width: 580px) {
  .support-link {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .header-options {
    text-align: center;
    margin: auto;
    margin-top: 20px;
    width: 100%;
  }
}

.ant-timeline-item-last > .ant-timeline-item-content {
  min-height: auto;
}

.ant-collapse-item.empty .ant-collapse-header h2 {
  color: #adadad;
}

.ant-collapse-item.empty svg {
  fill: #adadad;
}

.ant-collapse-item .ant-collapse-header h2.empty {
  color: #adadad;
}

.ant-collapse-item.empty svg {
  fill: #adadad;
}

@media only screen and (min-width: 480px) {
  .ant-modal-body,
  .ant-timeline,
  .ant-timeline-item {
    font-size: 16px;
  }
}
