/* site */
.site-layout-swap-klima-embed {
  color: white !important;
  height: 100%;
  padding: 80px 0;
  overflow-y: scroll !important;
  overflow: hidden;
  background: #202020 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0 !important;
}

.swap-view-klima-embed {
  min-height: 900px;
  max-width: 1600px;
  margin: auto;
}

.swap-form-klima-embed {
  overflow: hidden;
  border-radius: 16px;
}

.swap-form-klima-embed .swap-title {
  color: white;
}

/* inputs */
.swap-input-klima-embed {
  background: #202020;
  max-width: 450px;
  border-radius: 16px;
  padding: 24px 48px;
  margin: 0 auto;
  border: 2px solid #303030;
  color: white !important;
}

.swap-input-klima-embed form,
.swap-input-klima-embed input,
.swap-input-klima-embed .ant-input-disabled,
.swap-input-klima-embed .form-input-wrapper,
.swap-input-klima-embed .ant-select,
.swap-input-klima-embed .ant-collapse-header,
.swap-input-klima-embed .ant-collapse-content-box,
.swap-input-klima-embed .ant-collapse-content-box span,
.swap-input-klima-embed .ant-select-selection-placeholder,
.swap-input-klima-embed .ant-select-arrow,
.swap-input-klima-embed .ant-collapse,
.swap-input-klima-embed .to-section-carbon-offset-klima-embed .input-beneficiary {
  color: white !important;
}
.swap-input-klima-embed .ant-select-selection-item {
  background-color: #202020 !important;
}

.swap-input-klima-embed .form-input-wrapper,
.swap-input-klima-embed .to-section-carbon-offset-klima-embed .input-beneficiary {
  background-color: #202020;
  border: 2px solid #303030;
}

.swap-input-klima-embed .ant-collapse-content-box .ant-select-selection-item,
.swap-input-klima-embed .ant-collapse-content-box .ant-select-selector,
.swap-input-klima-embed .ant-input-number {
  background-color: #202020 !important;
  border: 1px solid #303030 !important;
}

.swap-input-klima-embed .ant-input-number-handler-wrap {
  background-color: #202020 !important;
}

.swap-input-klima-embed .ant-checkbox {
  background-color: #303030 !important;
}

.swap-input-klima-embed .ant-btn,
.modal-klima-embed .ant-btn {
  background-color: #2a2a2a;
  color: white;
  border-color: #2a2a2a;
}

/* General Buttonss */
.swap-input-klima-embed .ant-btn-primary,
.modal-klima-embed .ant-btn-primary,
.swap-input-klima-embed .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #00cc33 !important;
  color: white;
  border-color: #00cc33 !important;
}
.swap-input-klima-embed .ant-btn-primary:disabled {
  background-color: #2f3030 !important;
  color: white;
  border-color: #2f3030 !important;
}

.swap-input-klima-embed .form-input-wrapper .maxButton {
  color: white;
  background-color: #202020 !important;
  border-color: #202020 !important;
}

/* Modals */
.modal-klima-embed .ant-modal-body {
  background: #2a2a2a;
}

.modal-klima-embed .ant-typography,
.modal-klima-embed .ant-modal-close-x {
  color: #dddddd !important;
}

.modal-klima-embed a {
  color: #00cc33 !important;
}

.modal-klima-embed .lifi-loading-indicator-bubble {
  background-color: #00cc33 !important;
  color: white;
  border-color: #00cc33 !important;
}
.modal-klima-embed .ant-collapse-header,
.modal-klima-embed .input-beneficiary {
  color: #dddddd !important;
  background: #2a2a2a !important;
}

.modal-klima-embed .input-beneficiary {
  border: 2px solid #303030;
}

/* Swapping Modal */

.modal-klima-embed .ant-timeline-item-content {
  color: #dddddd;
  font-family: 'GT America';
}

.modal-klima-embed h4 {
  color: #dddddd;
  font-family: 'GT America';
}

.modal-klima-embed .ant-timeline-item-head,
.modal-klima-embed .ant-timeline-item-tail {
  border-color: #9c9c9c !important;
  background-color: #2a2a2a;
  color: #9c9c9c !important;
}

.modal-klima-embed .anticon-edit {
  color: #00cc33 !important;
}
