#wash-root {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-inter), Inter;
  margin-top: -80px;
}

#wash-root canvas,
#wash-root svg {
  display: block;
  vertical-align: middle;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

body:has(#wash-page-overlay-visible) {
  overflow: hidden;
}
