.site-layout--claiming {
  text-align: center;
  display: flex;
  align-items: center;
}

.claiming {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 64px);
  width: 100%;
  font-family: 'GT America';
  background-image: url(/public/bg-raster.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #f9f6f6;
}

.claiming__label {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.1px;
  margin-bottom: 0;
  font-weight: 100;
}

.claiming__label--success {
  font-weight: 800;
  margin: 24px auto 0;
}

.claiming__social {
  margin-top: 24px;
}

.claiming__social svg {
  transform: scale(1.8);
  margin-left: 8px;
}

.claiming__amount {
  font-size: 54px;
  line-height: 64px;
  font-weight: 800;
  letter-spacing: -0.2px;
}

.claiming__share {
  display: flex;
  justify-content: space-evenly;
  font-size: 16px;
  align-items: center;
  margin: 12px auto 0;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #e8e8e8;
  height: 48px;
  width: 210px;
  padding: 8px;
}

.claiming__share svg {
  width: auto;
  margin-left: 6px
}

.claiming__share--discord {
  width: auto;
}

.claiming__share--discord svg {
  height: 40px;
}


.card {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
  min-width: 200px;
  min-height: 330px;
  padding-top: 40px;
  /* background-color: white; */
  background: linear-gradient(180deg, white, transparent);
}

.card--success {
  border: 1px solid #e8e8e8;
  border-radius: 15px;
  box-shadow: 0px 2px 4px 0px #00000040;
}

.card--success svg {
  margin: 0 auto;
}

.card--success .card__title {
  margin-top: 70px;
}

.card__title {
  font-size: 32px;
  line-height: 40px;
}

.card__button {
  margin: 0 auto;
}

.card__button--claim {
  width: auto;
  min-width: 200px;
  white-space: pre-wrap;
  height: auto;
}

@media only screen and (min-width: 550px) {
  .site-layout--claiming {}

  .claiming {}

  .claiming__label {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.1px;
  }

  .claiming__amount {
    font-size: 54px;
    line-height: 64px;
    letter-spacing: -0.2px;
  }

  .card {
    min-width: 320px;
    width: 500px;
  }

  .card__title {
    font-size: 32px;
    line-height: 40px;
  }

  .card__button {
    margin: 0 auto;
  }

  .claiming__label--notqualified {
    min-width: 320px;
    width: 500px;
    margin: 0 auto;
  }

  .claiming__social {
    margin: 0 auto;
    min-width: 320px;
    width: 500px;
  }

  .claiming__share--discord {
    width: 300px;
  }

  .claiming__label--success {
    min-width: 320px;
    width: 500px;
  }
}
