
/* Table */
.ant-table-thead {
  white-space: nowrap;
}
.ant-table-thead > tr > th {
  text-align: center;
}
.ant-table-body {
  border-bottom: 1px solid gray;
}
.ant-table-row .ant-table-cell:last-child {
  border: none;
}

/* Cell content */
.amounts {
  text-align: right;
  padding-right: 20px;
  white-space: nowrap;
}
.amounts-empty .amount_coin {
  color: lightgray;
}
.amounts-empty .amount_usd {
  color: transparent;
}

.amount_coin {
  font-family: monospace;
  font-weight: bold;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.amount_usd {
  color: gray;
  font-size: 12px;
}

.coin {
  text-align: center;
}

.sum {
  font-weight: bold;
  text-align: center;
}
