.swap-form-etherspot {
  position: fixed;
  right: 0 !important;
  width: 50vw;
  height: 100%;
  padding: 80px 0;
  overflow-y: scroll !important;
  overflow: hidden;
  background: green;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.swap-form-etherspot.swap-form-etherspot-carbon {
  display: flex;
  justify-content: flex-start;
}

@media only screen and (max-width: 1199px) {
  .swap-form-etherspot {
    position: relative;
  }
}

.swap-form-etherspot .swap-input-etherspot {
  background-color: white;
}
@media only screen and (max-width: 500px) {
  .swap-form-etherspot .swap-input-etherspot {
    margin-left: 16px !important;
    margin-right: 16px !important;
  }
}

.input-beneficiary {
  margin-bottom: 8px;
  height: 50px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  padding: 4px 4px;
  font-weight: 700;
}
