@import "../css/animations.css";
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  margin-right: -8px;
}

.beta-disclaimer {
  margin-top: 24px;
  z-index: -1;
}

.swap-form:hover .beta-disclaimer {
  animation: 400ms ease-out 1 textImpulse;
}

.swap-input {
  background: white;
}

.swap-route {
  background-color: white;
  box-shadow: none;
  -webkit-box-shadow: none;
  transition: box-shadow 200ms;
  transition: -webkit-box-shadow 200ms;
  min-width: 300px;
  opacity: 0;

  border-radius: 6px;
  cursor: pointer;
}

.swap-route.optimal {
  -webkit-box-shadow: 0px 0px 22px -6px rgba(23, 144, 255, 0.5);
  box-shadow: 0px 0px 22px -6px rgba(23, 144, 255, 0.5);
}

.swap-route .ant-btn span {
  text-decoration: none;
  transition: text-decoration 400ms;
}

.swap-route:hover .ant-btn span {
  text-decoration: underline;
}

.no-routes-found {
  background: white;
  border-radius: 10px;
  padding: 20px 20px 30px 20px;
  min-width: 433px;
}
@media only screen and (max-width: 480px) {
  .no-routes-found {
    min-width: 280px;
  }
}

.no-routes-found h3 {
  margin-bottom: 20px;
}

.progress-step-list {
  margin-bottom: 40px;
}

.progress-step-title {
  color: #3f3f3f;
  font-size: 15px;
  margin-bottom: -3px;
}

.progress-step-descripion {
  color: #7e7e7e;
}

.ant-timeline-item-content p:last-child {
  margin-bottom: 0;
}

/* laptop screen */
@media only screen and (max-height: 900px) {
  .swapModal.ant-modal {
    margin-top: -92px;
  }
  .swapModal .ant-timeline-item {
    padding-bottom: 12px;
  }
}
.swapping-modal-timeline {
  padding-top: 38px;
  height: 300px;
  overflow-y: scroll;
}

.swapp-modal-footer {
  height: 100px;
}
@media only screen and (max-height: 600px) {
  .swapping-modal-timeline {
    padding-top: 38px;
    height: 55vh;
    overflow-y: scroll;
  }

  .swapp-modal-footer {
    height: 12vh;
  }
}

.swap-form {
  margin-top: 36px;
  overflow: hidden;
}
h4.swap-title {
  /* color: #1e1451; */
  margin: 0px auto 24px;
  font-size: 16px;
}
.only-mobile {
  display: none;
}

.form-input-wrapper {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  padding: 4px 4px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.form-input-wrapper.disabled {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-input-wrapper .ant-avatar {
  margin-left: 4px;
  flex-shrink: 0;
}
.form-input-wrapper .ant-select {
  flex-grow: 1;
  overflow: hidden;
}
.form-input-wrapper input {
  font-weight: 700;
}
.insufficient {
  color: #e4305f;
}
.form-text {
  font-weight: 700;
  align-items: center;
  display: flex;
  padding-left: 15px;
  height: 100%;
}

/* mobile screen */
@media only screen and (max-width: 480px) {
  .swap-form {
    margin-top: 0;
  }
  .only-mobile {
    display: block;
  }

  .ant-select-dropdown {
    left: 0 !important;
    right: 0 !important;
    width: auto !important;
  }
}

/* bigger */
@media only screen and (min-width: 480px) {
  .form-input-wrapper {
    padding: 8px 4px;
  }
  .form-input-wrapper .ant-select,
  .form-input-wrapper input,
  .form-text {
    font-size: 16px;
  }

  h4.swap-title {
    font-size: 20px;
    margin-top: 4px;
    margin-bottom: 28px;
  }
}

.ant-timeline-item .ant-avatar > img {
  padding: 2px;
  object-fit: fill;
}

.hero-image {
  margin: auto;
  border-radius: 6px;
}

.selected {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
}

.selected-label {
  line-height: 1.5715;
  /* color: #07d207; */
  color: #1790ff;
  font-weight: 400;
  padding: 6.4px;
  font-size: 16px;
  text-decoration: underline;
}

.ant-btn-round.ant-btn-lg {
  border-radius: 6px;
}

.ant-select-item-option-content .disabled {
  opacity: 0.25;
}
.option-item {
  display: flex;
}
.option-name {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 5px;
}

.option-balance {
  margin-left: auto;
}

.ant-timeline.ant-timeline-alternate
  .ant-timeline-item-left
  .ant-timeline-item-content,
.ant-timeline.ant-timeline-right
  .ant-timeline-item-left
  .ant-timeline-item-content,
.ant-timeline.ant-timeline-label
  .ant-timeline-item-left
  .ant-timeline-item-content {
  width: calc(50% - 22px);
}

.totalTime {
  border-top: 1px solid rgba(0, 0, 0, 0.85);
}

.ant-collapse-header {
  text-align: center;
}

.maxButton {
  padding: 0;
  padding-right: 5px;
  font-weight: bold;
  opacity: 0.5;
}

.maxButton:hover {
  opacity: 1;
}

.no-route-custom-collapse > .ant-collapse-item > .ant-collapse-header {
  color: grey;
  text-align: left;
  padding: 12px 16px 0px 0px;
  text-decoration: underline;
}
