input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  margin-right: -8px;
}

.swap-input {
  background: white;
}

.swap-route {
  transform: scale(0.9);
  transition: transform 200ms;
  min-width: 300px;

  border: 2px solid gray;
  border-radius: 6px;
  cursor: pointer;
}
.swap-route .ant-btn {
  background: #ececec;
}
.swap-route.optimal {
  transform: scale(1);
  border: 3px solid #07d207;
}
.swap-route:hover {
  transform: scale(1);
}

.swap-route.optimal .ant-btn,
.swap-route:hover .ant-btn {
  background: white;
}

.progress-step-list {
  margin-bottom: 40px;
}

.progress-step-title {
  color: #3f3f3f;
  font-size: 15px;
  margin-bottom: -3px;
}

.progress-step-descripion {
  color: #7e7e7e;
}

.ant-timeline-item-content p:last-child {
  margin-bottom: 0;
}

/* laptop screen */
@media only screen and (max-height: 900px) {
  .ant-modal {
    margin-top: -70px;
  }
  .ant-timeline-item {
    padding-bottom: 12px;
  }
}

.ant-timeline-item .ant-avatar > img {
  padding: 2px;
  object-fit: fill;
}

.hero-image {
  margin: auto;
  border-radius: 6px;
}

.selected {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
}
.selected-label {
  color: #07d207;
  font-weight: bold;
  padding: 6.4px;
}

.ant-btn-round.ant-btn-lg {
  border-radius: 6px;
}
