@import '../css/animations.css';

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  margin-right: -8px;
}

.site-layout-swap {
  background: white;
}

.beta-disclaimer {
  margin-top: 24px;
}

.swap-input {
  background: white;
  max-width: 450px;
  border-radius: 6px;
  padding: 24px 48px;
  margin: 0 auto;
}

.swap-route {
  background-color: white;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.25) !important;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.25) !important;
  min-width: 300px;
  min-height: 320px;
  border-radius: 16px;
  cursor: pointer;
}

.swap-route .ant-btn {
  margin-top: 18px;
}

.no-routes-found {
  background: white;
  border-radius: 10px;
  padding: 20px 20px 30px 20px;
  min-width: 433px;
}

@media only screen and (max-width: 480px) {
  .no-routes-found {
    min-width: 280px;
  }
}

.no-routes-found h3 {
  margin-bottom: 20px;
}

.progress-step-list {
  padding-bottom: 24px !important;
}

.progress-step-title {
  color: #3f3f3f;
  font-size: 15px;
  margin-bottom: -3px;
}

.progress-step-descripion {
  color: #7e7e7e;
}

.ant-timeline-item-content p:last-child {
  margin-bottom: 0;
}

/* laptop screen */
@media only screen and (max-height: 900px) {
  .swapModal.ant-modal {
    margin-top: -92px;
  }

  .swapModal .ant-timeline-item {
    padding-bottom: 12px;
  }
}

.swapping-modal-timeline {
  padding-top: 38px;
  min-height: 350px;
  overflow-y: scroll;
}

.swapp-modal-footer {
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-height: 650px) {
  .swapping-modal-timeline {
    padding-top: 38px;
    height: 55vh;
    overflow-y: scroll;
  }

  .swapp-modal-footer {
    height: 12vh;
  }
}

.swap-form {
  margin-top: 36px;
  overflow: hidden;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

h4.swap-title {
  /* color: #1e1451; */
  margin: 0px auto 24px;
  font-size: 16px;
}

.only-mobile {
  display: none;
}

.form-input-wrapper {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  padding: 4px 4px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.chain-select {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.token-select {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.form-input-wrapper.disabled {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-input-wrapper .ant-avatar {
  margin-left: 4px;
  flex-shrink: 0;
}

.form-input-wrapper .ant-select {
  flex-grow: 1;
  overflow: hidden;
}

.form-input-wrapper input {
  font-weight: 700;
}

.insufficient {
  color: #e4305f;
}

.form-text {
  font-family: 'Inter';
  align-items: center;
  color: #888888;
  display: flex;
  padding-left: 0 !important;
  height: 100%;
}

/* mobile screen */
@media only screen and (max-width: 480px) {
  .swap-form {
    margin-top: 0;
  }

  .only-mobile {
    display: block;
  }

  .ant-select-dropdown {
    left: 0 !important;
    right: 0 !important;
    width: auto !important;
  }
}

/* bigger */
@media only screen and (min-width: 480px) {
  .form-input-wrapper {
    padding: 8px 4px;
  }

  .form-input-wrapper .ant-select,
  .form-input-wrapper input,
  .form-text {
    font-size: 16px;
  }

  h4.swap-title {
    font-size: 20px;
    margin-top: 4px;
    margin-bottom: 28px;
  }
}

.ant-timeline-item .ant-avatar > img {
  padding: 2px;
  object-fit: fill;
}

.hero-image {
  margin: auto;
  border-radius: 6px;
}

.selected {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
}

.route-digest {
}

.ant-btn-round.ant-btn-lg {
  border-radius: 6px;
}

.ant-select-item-option-content .disabled {
  opacity: 0.25;
}

.option-item {
  display: flex;
}

.option-name {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 5px;
}

.option-balance {
  margin-left: auto;
}

.ant-timeline.ant-timeline-alternate .ant-timeline-item-left .ant-timeline-item-content,
.ant-timeline.ant-timeline-right .ant-timeline-item-left .ant-timeline-item-content,
.ant-timeline.ant-timeline-label .ant-timeline-item-left .ant-timeline-item-content {
  width: calc(50% - 22px);
}

.totalTime {
  border-top: 1px solid rgba(0, 0, 0, 0.85);
}

.ant-collapse-header {
  justify-content: center;
}

.maxButton {
  padding: 0;
  padding-right: 5px;
  font-weight: bold;
  opacity: 0.5;
  font-family: 'GT America' !important;
}

.maxButton:hover {
  opacity: 1;
}

.amountBadge {
  width: 14px;
  height: 14px;
  padding: 0;
  font-size: 12px;
  line-height: 14px;
  border-radius: 7px;
  background-color: gray;
  color: white;
  text-align: center;
  font-weight: 400;
  position: relative;
  right: 5px;
  cursor: default;
}

.no-route-custom-collapse > .ant-collapse-item > .ant-collapse-header {
  color: grey;
  text-align: left;
  padding: 12px 16px 0px 0px;
  text-decoration: underline;
}

[data-theme='compact'] .active-transfer-collapse .site-collapse-active-transfer-panel,
.active-transfer-collapse .site-collapse-active-transfer-panel {
  margin-top: 16px;
  overflow: hidden;
  border: 0px;
  border-radius: 2px;
}

.site-collapse-active-transfer-panel .ant-collapse-header {
  font-weight: 500;
  font-size: 1.17em;
}

.active-transfer-collapse .ant-collapse-content-box {
  overflow-x: scroll;
}
.tx-table {
  background: rgb(246, 243, 242);
  background: linear-gradient(180deg, rgba(246, 243, 242, 1) 0%, rgba(253, 252, 252, 1) 50%);
  border-radius: 16px;
  -webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25) !important;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25) !important;
}

.tx-table .ant-pagination-item-active {
  border: none !important;
  padding-top: 1px !important;
}

.route-delete-button {
  border-radius: 25px !important;
}

.swap-view {
  min-height: 900px;
  max-width: 1600px;
  margin: auto;
}

@media only screen and (max-width: 1050px) {
  .swap-view {
    padding-bottom: 70px;
  }
}

.historicalTransfers,
.activeTransfers {
  margin-top: 48px;
}

.ant-table table {
  background-color: white;
}

/* lifiEmbed view */
.lifiEmbed .site-layout-swap {
  margin-top: 0;
  min-height: auto;
}

.lifiEmbed .historicalTransfers {
  display: none;
}

.lifiEmbed .swap-form {
  margin-top: 40px;
}

.lifiEmbed .activeTransfers {
  margin-top: 12px;
}

.lifiEmbed .ant-pagination {
  background-color: white;
}

.lifiEmbed .poweredBy {
  position: absolute;
  top: 38px;
  right: 0;
  padding: 6px 12px;
  background-color: white;
  border-radius: 6px;
  z-index: 100;
}

.lifiEmbed .wallet-buttons-embed-view {
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px 12px;
  background-color: white;
  border-radius: 6px;
  z-index: 100;
}
