@import '../css/animations.css';

.swap-page {
  display: grid;
  place-items: center;
  height: 100vh;
  background: white !important;
  background: linear-gradient(180deg, #f6f3f2 0%, rgba(246, 243, 242, 0) 100%) !important;
  padding: 4px;
}
