input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  margin-right: -8px;
}

.swap-input {
  background: white;
}

.swap-route {
  transform: scale(0.9);
  transition: transform 200ms;
  min-width: 300px;

  border: 3px solid rgba(0,0,0,0.25);
  border-radius: 6px;
  cursor: pointer;
}
.swap-route .ant-btn {
  background: #ececec;
}
.swap-route.optimal {
  transform: scale(1);
  border: 3px solid #07d207;
}
.swap-route:hover {
  transform: scale(1);
}

.swap-route.optimal .ant-btn,
.swap-route:hover .ant-btn {
  background: white;
}

.progress-step-list {
  margin-bottom: 40px;
}

.progress-step-title {
  color: #3f3f3f;
  font-size: 15px;
  margin-bottom: -3px;
}

.progress-step-descripion {
  color: #7e7e7e;
}

.ant-timeline-item-content p:last-child {
  margin-bottom: 0;
}

/* laptop screen */
@media only screen and (max-height: 900px) {
  .swapModal.ant-modal {
    margin-top: -92px;
  }
  .swapModal .ant-timeline-item {
    padding-bottom: 12px;
  }
}

.swap-form {
  margin-top: 36px;
}
h4.swap-title {
  color: #1e1451;
  margin: 0px auto 24px;
  font-size: 16px;
}
.only-mobile {
  display: none;
}

.form-input-wrapper {
  background: #ffffff;
  border: 1px solid rgba(0,0,0,0.25);
  border-radius: 6px;
  padding: 4px 4px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.form-input-wrapper.disabled {
  border: 1px solid rgba(0,0,0,0.10);
}
.form-input-wrapper .ant-avatar {
  margin-left: 4px;
}
.form-input-wrapper .ant-select {
  flex-grow: 1;
}
.form-input-wrapper input {
  font-weight: 700;
}
.insufficient {
  color: #e4305f;
}
.form-text {
  font-weight: 700;
  align-items: center;
  display: flex;
  padding-left: 15px;
  height: 100%;
}

/* mobile screen */
@media only screen and (max-width: 480px) {
  .hero-image {
    display: none;
  }
  .swap-form {
    margin-top: 0;
  }
  .only-mobile {
    display: block;

  }

  .ant-select-dropdown {
    left: 0 !important;
    right: 0 !important;
    width: auto !important;
  }
}

/* bigger */
@media only screen and (min-width: 480px) {
  .form-input-wrapper {
    padding: 8px 4px;
  }
  .form-input-wrapper .ant-select,
  .form-input-wrapper input,
  .form-text {
    font-size: 16px;
  }

  h4.swap-title {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
}


.ant-timeline-item .ant-avatar > img {
  padding: 2px;
  object-fit: fill;
}

.hero-image {
  margin: auto;
  border-radius: 6px;
}

.selected {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
}
.selected-label {
  color: #07d207;
  font-weight: bold;
  padding: 6.4px;
}

.ant-btn-round.ant-btn-lg {
  border-radius: 6px;
}



.ant-select-item-option-content .disabled {
  opacity: 0.25;
}
.option-item {
  display: flex;
}
.option-name {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 5px;
}

.option-balance {
  margin-left: auto;
}

.ant-timeline.ant-timeline-alternate .ant-timeline-item-left .ant-timeline-item-content,
.ant-timeline.ant-timeline-right .ant-timeline-item-left .ant-timeline-item-content,
.ant-timeline.ant-timeline-label .ant-timeline-item-left .ant-timeline-item-content {
  width: calc(50% - 22px);
}

.totalTime {
  border-top: 1px solid rgba(0, 0, 0, 0.85);
}
