@import '~antd/dist/antd.css';
@import './css/animations.css';

/*
Global overrides of ant design styles
*/

.ant-btn-primary {
  background-color: #3f49e1;
  border-color: #3f49e1;
}

.ant-btn-primary:hover,
.ant-btn-primary:focus,
.ant-btn-primary:active {
  background-color: #6069e6;
  border-color: #6069e6;
}
