@import '~antd/dist/antd.css';
@import './css/animations.css';

/*
Global overrides of ant design styles
*/

/* Buttons */
.ant-btn-primary {
  font-family: 'GT America' !important;
  background-color: #3f49e1;
  border-color: #3f49e1;
}

.ant-btn-primary:hover,
.ant-btn-primary:focus,
.ant-btn-primary:active {
  background-color: #6069e6;
  border-color: #6069e6;
}

.ant-btn-ghost {
  border-color: black;
}

/* Tabs */
/* .ant-tabs-tab {
  font-family: 'GT America' !important;
} */
.ant-tabs-tab:not(.ant-tabs-tab-disabled),
.ant-tabs-tab .ant-tabs-tab-btn:hover {
  color: #3f49e1 !important;
}
.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #3f49e1 !important;
}
.ant-tabs-ink-bar {
  background: #3f49e1 !important;
}
@media only screen and (max-width: 575px) {
  .ant-tabs-nav-wrap {
    padding: 0 24px;
  }
}

/* Collapse */
.ant-collapse-header {
  font-family: 'GT America' !important;
  margin-left: 50%;
  transform: translateX(-50%);
  width: max-content;
}

/* Select */
.ant-select-selection-item {
  border-color: #eeeeee !important;
  background-color: white !important;
}

.ant-select > .ant-select-arrow {
  pointer-events: auto !important;
  cursor: pointer !important;
}
.ant-select > .ant-select-arrow > .anticon {
  pointer-events: auto !important;
  cursor: pointer !important;
}

/* #root > section > main > div > main > div > div > div.ant-col.swap-form.ant-col-sm-23.ant-col-lg-23.ant-col-xl-10 > div > form > div:nth-child(6) > div:nth-child(2) > div > div.ant-select.ant-select-borderless.ant-select-focused.ant-select-single.ant-select-show-arrow.ant-select-open.ant-select-show-search > span */

/* Steps */
/* .ant-steps-item-title {
  font-family: 'GT America' !important;
  color: rgba(0, 0, 0, 0.45) !important;
} */

/* Input */
.ant-input {
  font-family: 'GT America' !important;
}

/* Menu */
.ant-menu-title-content {
  font-weight: 500;
}
.ant-menu-item-selected a,
.ant-menu-submenu:hover,
.ant-menu-submenu-title:hover,
.ant-menu-submenu-title:focus,
.ant-menu-submenu-title:active,
.ant-menu-submenu::after,
.ant-menu-item-active a {
  color: #3f49e1 !important;
  border: none !important;
}
.ant-menu-item-selected:hover::after,
.ant-menu-item-selected::after,
.ant-menu-item::after,
.ant-menu-item-active::after {
  border: none !important;
}
.ant-menu-submenu:hover::after,
.ant-menu-item::after,
.ant-menu-submenu-open::after {
  border: none !important;
}

/* Steps */
.ant-steps-item-tail::after {
  background-color: transparent !important;
}
.ant-steps-icon-dot {
  position: absolute;
  top: -4.5px;
  background-color: black !important;
}

.ant-steps-item-title {
  color: black;
  font-family: 'GT America';
}

.ant-timeline-item-head {
  border-color: #3f49e1 !important;
  color: #3f49e1 !important;
}
.ant-timeline-item-tail {
  border-color: #3f49e1 !important;
  color: #3f49e1 !important;
}
