@import '~antd/dist/antd.css';
@import './css/animations.css';

.wordmark {
  float: left;
  color: black;
  font-size: 22px;
  line-height: 42px;
  margin-right: 60px;
  font-weight: bold;
  font-family: 'GT America' !important;
}

.wordmark:hover,
.wordmark:focus,
.wordmark:active {
  color: #3f49e1;
}

.logo {
  margin: 0;
}

.wordmark span {
  margin: auto 7px;
}

.carbon-neutral-btn {
  position: fixed;
  bottom: 0px;
  right: 16px;
}

@media only screen and (max-width: 499px) {
  .carbon-neutral-btn {
    position: fixed;
    bottom: 0px;
    right: 16px;
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .wordmark span {
    display: none;
  }

  .logo {
    margin-left: 15px;
    margin-right: 0;
  }
}

.header-poweredBy {
  color: black;
  position: absolute;
  /* left: 46px; */
  left: 0px;
  top: 33px;
  display: block;
  line-height: 1;
}

.header-poweredBy:hover path {
  fill: #3f49e1;
}

/* global styles */
.site-layout {
  margin-top: 64px;
}

.site-layout-menu {
  width: 95%;
  padding: 20px;
}

.site-layout .site-layout-background {
  background: white;
}

.ant-layout {
  background: transparent;
  /*  */
}

.ant-layout-header {
  overflow: hidden;
  background: white;
  display: flex;
  justify-content: center;
  height: auto;
}

.ant-menu {
  background: transparent !important;
  border: none !important;
}

.ant-menu-overflow-item {
  opacity: 1 !important;
  color: black;
}

.ant-menu-submenu-popup {
  z-index: 9000 !important;
}

.ant-menu.ant-menu-sub.ant-menu-vertical {
  background-color: white !important;
  opacity: 1;
  z-index: 999;
}

.beta-badge {
  background: #f5b5ff;
  border-radius: 20px;
  line-height: 1;
  padding: 2px 4px;
  color: black;
  font-size: 12px;
  margin-left: 8px;
}

.lifi-more-submenu-title-icon {
  display: inline;
}

@media only screen and (max-width: 1352px) {
  .lifi-more-submenu-title-icon {
    display: none;
  }
}

/* Social Links */

.lifi-content-social-links {
  display: none;
}

.lifi-support-link {
  color: black;
  border: 1px solid black;
  background: white;
  border-radius: 6px;
  margin: 0 8px;
  line-height: 1.5715;
  height: fit-content;
  transition: all 400ms;
}

.lifi-support-link:hover,
.lifi-support-link:hover {
  color: #f5b5ff;
  border: 1px solid #f5b5ff;
  fill: #f5b5ff;
}

/* .lifi-support-link:hover,
.lifi-support-link:hover svg {
  color: #f5b5ff;
  border: 1px solid #f5b5ff;
} */

.lifi-support-link.headerIconLink {
  line-height: 1;
  padding: 6.5px;
}

.icon-link {
  margin: 0 8px 0 8px;
  font-size: 24px;
  color: black !important;
  display: inline;
}

.icon-link:hover {
  color: #f5b5ff;
}

.icon-link.headerIconLink {
  color: white;
  font-size: 20px;
}

.icon-link.headerIconLink:hover {
  color: #f5b5ff;
}

.lifi-header-social-links {
  display: inline;
}

@media only screen and (max-width: 1050px) {
  .lifi-content-social-links {
    position: fixed;
    bottom: 0px;
    left: 0px;
    background: white;
    padding: 16px;
    border-top-right-radius: 8px;
    -webkit-box-shadow: 0px 0px 50px -2px rgba(0, 0, 0, 0.19);
    box-shadow: 0px 0px 50px -2px rgba(0, 0, 0, 0.19);
    display: flex;
    align-items: center;
  }

  .lifi-header-social-links {
    display: none;
  }
}

/* Wallet Button styles */
.wallet-buttons-menu-full {
  display: inline-block !important;
  padding: 12px 24px 12px 24px;
  height: fit-content;
}

@media only screen and (max-width: 767px) {
  .wallet-buttons-menu-full {
    display: none !important;
  }
}

/* MISC */
.ant-btn .anticon-spin {
  height: 18px;
  padding-top: 1px;
  padding-bottom: 1px;
}

/* Annimations */
/* .ant-timeline-item-head-blue, */
.flashing {
  animation: blinker 1s linear infinite;
}

.ukraine-flag {
  font-size: 24px;
  padding-right: 4px;
}

.ant-menu-item-danger .ant-menu-title-content {
  display: flex;
}

.ant-menu-item-danger a {
  color: #3f49e1 !important;
}

@media only screen and (max-width: 1060px) {
  .ant-menu-item-danger a {
    color: black !important;
  }
}
