@import '~antd/dist/antd.css';
@import './css/animations.css';

.wordmark {
  float: left;
  color: white;
  font-size: 22px;
  line-height: 62px;
  margin-right: 20px;
}
.logo {
  width: 36px;
  height: 36px;
  margin: 8px 20px 8px 50px;
}

@media only screen and (max-width: 480px) {
  .wordmark span {
    display: none;
  }
  .logo {
    margin-left: 15px;
    margin-right: 0;
  }
}

/* global styles */
.site-layout {
  margin-top: 64px;
}

.site-layout .site-layout-background {
  background: #fff;
}

.ant-layout-header {
  overflow: hidden;
  background: rgb(24, 21, 35);
  background: linear-gradient(
    140deg,
    rgba(24, 21, 35, 1) 0%,
    rgba(9, 9, 121, 1) 93%,
    rgba(9, 9, 121, 1) 100%
  );
  border: none;
}

.ant-menu-horizontal > .ant-menu-item a,
.ant-menu-horizontal > .ant-menu-item-selected a {
  color: white;
}

.ant-menu {
  background: transparent !important;
  border: none !important;
}

.beta-badge {
  position: absolute;
  background: #c930e4;
  top: 9px;
  right: -1px;
  border-radius: 20px;
  line-height: 1;
  padding: 2px 4px;
  color: white;
  font-size: 12px;
}

/* Annimations */
/* .ant-timeline-item-head-blue, */
.flashing {
  animation: blinker 1s linear infinite;
}

.lifiSupport {
  color: #c930e4;
  border: 1px solid #c930e4;
  background: white;

  line-height: 1;
  padding: 10px;
  border-radius: 6px;
}

.lifiSupport.support-header {
  position: absolute;
  top: 14px;
  right: 14px;
}

.lifiSupport.support-content {
  display: none;
}

.lifiSupport:hover {
  background: #c930e4;
  color: white;
}

@media only screen and (max-width: 768px) {
  .lifiSupport.support-header {
    visibility: hidden;
  }

  .lifiSupport.support-content {
    display: block;
    position: fixed;
    top: 60px;
    right: 14px;
    z-index: 99;
  }
}

.ant-btn .anticon-spin {
  height: 18px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.headerIconLink {
  color: white;
  font-size: 20px;
}

.headerIconLink:hover {
  color: #c930e4;
}
