@import '~antd/dist/antd.css';
@import './css/animations.css';

.wordmark {
  float: left;
  color: white;
  font-size: 22px;
  line-height: 62px;
  margin-right: 20px;
}
.logo {
  width: 36px;
  height: 36px;
  margin: 8px 20px 8px 50px;
}

@media only screen and (max-width: 480px) {
  .wordmark span {
    display: none;
  }
  .logo {
    margin-left: 15px;
    margin-right: 0;
  }
}

/* global styles */
.site-layout {
  margin-top: 64px;
}

.site-layout .site-layout-background {
  background: #fff;
}

.ant-layout-header {
  overflow: hidden;
  background: rgb(24, 21, 35);
  background: linear-gradient(
    140deg,
    rgba(24, 21, 35, 1) 0%,
    rgba(9, 9, 121, 1) 93%,
    rgba(9, 9, 121, 1) 100%
  );
  border: none;
}

.ant-menu-horizontal > .ant-menu-item a,
.ant-menu-horizontal > .ant-menu-item-selected a {
  color: white;
}

.ant-menu {
  background: transparent !important;
  border: none !important;
}

.ant-menu-overflow-item {
  opacity: 1 !important;
  color: white;
}
.ant-menu.ant-menu-sub.ant-menu-vertical {
  background-color: white !important;
  opacity: 1;
  z-index: 999;
}

.beta-badge {
  position: absolute;
  background: #c930e4;
  top: 9px;
  right: -1px;
  border-radius: 20px;
  line-height: 1;
  padding: 2px 4px;
  color: white;
  font-size: 12px;
}

/* Social Links */

.lifi-content-social-links {
  display: none;
}

.lifi-support-link {
  color: #c930e4;
  border: 1px solid #c930e4;
  background: white;
  border-radius: 6px;
  margin: 0 8px;
}

.lifi-support-link.headerIconLink {
  line-height: 1;
  padding: 6.5px;
}

.icon-link {
  margin: 0 8px 0 8px;
  font-size: 24px;
}

.icon-link:hover {
  color: #c930e4;
}

.icon-link.headerIconLink {
  color: white;
  font-size: 20px;
}

.icon-link.headerIconLink:hover {
  color: #c930e4;
}
.lifi-header-social-links {
  display: inline;
}
@media only screen and (max-width: 1050px) {
  .lifi-content-social-links {
    position: fixed;
    bottom: 0px;
    left: 0px;
    background: white;
    padding: 16px;
    border-top-right-radius: 8px;
    -webkit-box-shadow: 0px 0px 50px -2px rgba(0, 0, 0, 0.19);
    box-shadow: 0px 0px 50px -2px rgba(0, 0, 0, 0.19);
    display: flex;
    align-items: center;
  }
  .lifi-header-social-links {
    display: none;
  }
}

/* Wallet Button styles */
.wallet-buttons-menu-collapse {
  display: none !important;
}
.wallet-buttons-menu-full {
  display: inline-block !important;
}

@media only screen and (max-width: 767px) {
  .wallet-buttons-menu-collapse {
    display: inline-block !important;
  }
  .wallet-buttons-menu-full {
    display: none !important;
  }
}

/* MISC */
.ant-btn .anticon-spin {
  height: 18px;
  padding-top: 1px;
  padding-bottom: 1px;
}

/* Annimations */
/* .ant-timeline-item-head-blue, */
.flashing {
  animation: blinker 1s linear infinite;
}
