@import '~antd/dist/antd.css';

.wordmark {
  float: left;
  color: white;
  font-size: 22px;
  line-height: 62px;
  margin-right: 20px;
}
@media only screen and (max-width: 480px) {
  .wordmark span {
    display: none;
  }
}
.logo {
  width: 48px;
  height: 48px;
  margin: 8px 24px 8px 50px;
}

/* global styles */
.site-layout {
  margin-top: 64px;
}

.site-layout .site-layout-background {
  background: #fff;
}

.ant-layout-header {
  overflow: hidden;
}

.ant-menu.ant-menu-horizontal {
  background: rgb(24,21,35);
  background: linear-gradient(140deg, rgba(24,21,35,1) 0%, rgba(9,9,121,1) 93%, rgba(9,9,121,1) 100%);
  border: none;
}

.ant-menu-horizontal > .ant-menu-item a,
.ant-menu-horizontal > .ant-menu-item-selected a {
  color: white;
}

/* Annimations */
.flashing {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0.2; }
}
