@font-face {
  font-family: 'GT America';
  src: local('GT America'), local('GT America'),
    url('./fonts/gt-america/GT-America-LC-Standard-Bold.ttf') format('ttf'),
    url('./fonts/gt-america/GT-America-LC-Standard-Bold.woff') format('woff'),
    url('./fonts/gt-america/GT-America-LC-Standard-Bold.woff2') format('woff2'),
    url('./fonts/gt-america/GT-America-LC-Standard-Bold.otf') format('otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GT America';
  src: url('./fonts//gt-america/GT-America-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  height: auto !important;
  width: auto !important;
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'GT America' !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
