@font-face {
  font-family: 'GT America';
  src: local('GT America'), local('GT America'),
    url('./fonts/gt-america/GT-America-LC-Standard-Bold.ttf') format('ttf'),
    url('./fonts/gt-america/GT-America-LC-Standard-Bold.woff') format('woff'),
    url('./fonts/gt-america/GT-America-LC-Standard-Bold.woff2') format('woff2'),
    url('./fonts/gt-america/GT-America-LC-Standard-Bold.otf') format('otf');
}

html {
  height: auto !important;
  width: auto !important;
  background: white !important;
  background: linear-gradient(
    180deg,
    rgba(247, 243, 242, 1) 0%,
    rgba(253, 252, 252, 1) 100%
  ) !important;
}

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'GT America' !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
