@keyframes textImpulse {
  0% {
    text-shadow: 0px 0px 0px #cf1322;
  }

  50% {
    text-shadow: 0px 0px 5px rgba(206, 89, 55, 0.5);
  }

  100% {
    text-shadow: 0px 0px 5px rgba(207, 19, 34, 0);
  }
}

@keyframes blinker {
  50% {
    opacity: 0.2;
  }
}
