name: Playwright Tests
on:
  - pull_request
  - workflow_dispatch
permissions:
  checks: write
  pull-requests: write
  contents: write
jobs:
  test:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: 20
    - name: Install dependencies
      run: yarn install
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps chromium
    - name: Build synpress cache
      run: yarn build:cache --force tests/wallet-setup/
    - name: Run Playwright E2E tests
      run: yarn run test:ci:e2e
    - uses: actions/upload-artifact@v4
      if: always()
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
    - uses: daun/playwright-report-summary@v3
      if: always()
      with:
        report-file: test-results.json
